numpy==1.25.2
python-dateutil==2.8.2
torch==2.0.1
gtimer==1.0.0b5
gym==0.26.2
cloudpickle==2.2.1
tqdm==4.66.1
UMNN==1.68
matplotlib==3.7.2
PyYAML==6.0.1
pandas==2.1.0
imageio==2.31.3
seaborn==0.12.2
Box2D==2.3.2
wandb==0.15.9